In [18]:
import pandas as pd             # data package
import matplotlib.pyplot as plt # graphics 
import datetime as dt
import numpy as np

import requests, io             # internet and input tools  
import zipfile as zf            # zip file tools 
import os  

import pyarrow as pa
import pyarrow.parquet as pq

import statsmodels.formula.api as smf
from linearmodels.iv import IV2SLS
from linearmodels.panel import PanelOLS

### Overview. 

This file essentially grabs the month by county files from the [Quarterly Census of Employment and Wages](https://www.bls.gov/cew/) files from the BLS and then creates employment measures at the county-level, monthly frequency. A couple of comments about the code:

   - In the funciton ``clean_bls_quarter`` there is a line to be uncommented or not depending upon if I want a dataset with goods employment or total employment. Future enhancements of this notebook should just return one dataframe with both.
    
    
   - It can accomadate the 2016 data (and further back if modified). Currently it just uses the 2017, 2018, and 2019 (which only have Q1 values. See the relese calander when updates will be made.
   
### Step 1

Bring in the trade/tariff data for which we will merge stuff....

In [19]:
cwd = os.getcwd()

trade_data = pq.read_table(cwd + "\\data\\total_trade_data.parquet").to_pandas()

trade_data["time"] = pd.to_datetime(trade_data.time)

trade_data.set_index(["area_fips", "time"],inplace = True)

In [20]:
trade_data.head()

exposure = pd.qcut(trade_data.xs('2018-12-1', level=1).tariff, 4 ,labels = False)

most_exposed = exposure[exposure == 3].index.tolist()

trade_data.loc[most_exposed].xs('2018-12-1', level=1).tariff.mean()

6.4691811550724125

This is ultra-clunky. Should fix in the future. But it takes names (which is how the BLS files are written) and then will map them into a datatime value.

In [21]:
empl_time_dict_16 = {"January Employment":dt.datetime(2016,1,1),
                 "February Employment":dt.datetime(2016,2,1),
                 "March Employment":dt.datetime(2016,3,1),
                 "April Employment":dt.datetime(2016,4,1),
                 "May Employment":dt.datetime(2016,5,1),
                 "June Employment":dt.datetime(2016,6,1),
                 "July Employment":dt.datetime(2016,7,1),
                 "August Employment":dt.datetime(2016,8,1),
                 "September Employment":dt.datetime(2016,9,1),
                 "October Employment":dt.datetime(2016,10,1),
                 "November Employment":dt.datetime(2016,11,1),
                 "December Employment":dt.datetime(2016,12,1),}

In [22]:
empl_time_dict_17 = {"January Employment":dt.datetime(2017,1,1),
                 "February Employment":dt.datetime(2017,2,1),
                 "March Employment":dt.datetime(2017,3,1),
                 "April Employment":dt.datetime(2017,4,1),
                 "May Employment":dt.datetime(2017,5,1),
                 "June Employment":dt.datetime(2017,6,1),
                 "July Employment":dt.datetime(2017,7,1),
                 "August Employment":dt.datetime(2017,8,1),
                 "September Employment":dt.datetime(2017,9,1),
                 "October Employment":dt.datetime(2017,10,1),
                 "November Employment":dt.datetime(2017,11,1),
                 "December Employment":dt.datetime(2017,12,1),}

empl_time_dict_18 = {"January Employment":dt.datetime(2018,1,1),
                 "February Employment":dt.datetime(2018,2,1),
                 "March Employment":dt.datetime(2018,3,1),
                 "April Employment":dt.datetime(2018,4,1),
                 "May Employment":dt.datetime(2018,5,1),
                 "June Employment":dt.datetime(2018,6,1),
                 "July Employment":dt.datetime(2018,7,1),
                 "August Employment":dt.datetime(2018,8,1),
                 "September Employment":dt.datetime(2018,9,1),
                 "October Employment":dt.datetime(2018,10,1),
                 "November Employment":dt.datetime(2018,11,1),
                 "December Employment":dt.datetime(2018,12,1),}

empl_time_dict_19 = {"January Employment":dt.datetime(2019,1,1),
                 "February Employment":dt.datetime(2019,2,1),
                 "March Employment":dt.datetime(2019,3,1),}

clistQ1 = ['Area\nCode','NAICS','Qtr','January Employment', 'February Employment',
       'March Employment', 'Total Quarterly Wages', 'Average Weekly Wage','Own',"Area Type"]

### Step 2: Download

This downloads the ``.zip`` files for which we can grab the data. They are all in excell format.

In [23]:
#url = "https://data.bls.gov/cew/data/files/2016/xls/2016_all_county_high_level.zip"
# This will read in the annual, single file. It's big, but has all we want...

#r = requests.get(url) 

# convert bytes to zip file  
#bls_q2016 = zf.ZipFile(io.BytesIO(r.content)) 
#bls_q2016.extractall(cwd + "\\bls_files")

url = "https://data.bls.gov/cew/data/files/2017/xls/2017_all_county_high_level.zip"
# This will read in the annual, single file. It's big, but has all we want...

r = requests.get(url) 

# convert bytes to zip file  
bls_q2017 = zf.ZipFile(io.BytesIO(r.content)) 
bls_q2017.extractall(cwd + "\\bls_files")

url = "https://data.bls.gov/cew/data/files/2018/xls/2018_all_county_high_level.zip"

r = requests.get(url) 

bls_q2018 = zf.ZipFile(io.BytesIO(r.content)) 
bls_q2018.extractall(cwd + "\\bls_files")

In [24]:
url = "https://data.bls.gov/cew/data/files/2019/xls/2019_all_county_high_level.zip"

r = requests.get(url) 

bls_q2019 = zf.ZipFile(io.BytesIO(r.content)) 
bls_q2019.extractall(cwd + "\\bls_files")

In [25]:
bls_q2019.filelist

   ### Step 3: Clean and Shape it
   
   Below is a function that takes in an excell sheet and does what we want to it. Then below we will work through a for loop over all the sheets.

In [26]:
def clean_bls_quarter(excell_sheet, time_dict):

    df = pd.read_excel(excell_sheet, sheet_name = "US_St_Cn_MSA")

# Take only private

    df = df[df["Own"] == 5] 

# Take aggregate

    df = df[df["NAICS"] == 101] # Take goods producing 
    
    #df = df[df["NAICS"] == 10] # Take all employment in all sectors

# Take only counties 
    df = df[df["Area Type"] == "County"] 

    df.rename({"Area\nCode": "GEOFIPS"},axis = 1, inplace = True)

    df["GEOFIPS"] = df["GEOFIPS"].astype(int)

    df.set_index("GEOFIPS", inplace = True)

    df = df.reindex(trade_data.index.get_level_values(0).unique().astype(int).tolist())

    df = df.iloc[:,[13,14,15]].reset_index()
    # This grabs only values we want, i.e. the employment for that quarter. So for example,
    # in Q1, 13 = January, 14 = Febuary, 15 = March. And so forth for Q2...

    df = df.melt("GEOFIPS")

    df.replace(time_dict,inplace = True)

    df.rename({"variable":"time", "value":"emply_month", "GEOFIPS": "area_fips"}, axis = 1, inplace = True)
    
    df["area_fips"] = df["area_fips"].astype(str)
    
    df.set_index(["area_fips", "time"], inplace = True)
    

    return df

Then given the function above, work through the file list.

In [27]:
#root_name = cwd + "\\bls_files\\"

#root_name = root_name + "allhlcn16"

#quarter = ["1","2","3","4"]

df = pd.DataFrame([])

#for item in quarter:
    
#    file_name = root_name + item + ".xlsx"
    
#    df = df.append(clean_bls_quarter(file_name,empl_time_dict_16))
    
############################################################################

root_name = cwd + "\\bls_files\\"

root_name = root_name + "allhlcn17"

quarter = ["1","2","3","4"]

for item in quarter:
    
    file_name = root_name + item + ".xlsx"
    
    df = df.append(clean_bls_quarter(file_name,empl_time_dict_17))
    
############################################################################  
root_name = cwd + "\\bls_files\\"

root_name = root_name + "allhlcn18"

quarter = ["1","2","3","4"]

for item in quarter:
    
    file_name = root_name + item + ".xlsx"
    
    df = df.append(clean_bls_quarter(file_name,empl_time_dict_18))
    
############################################################################  
root_name = cwd + "\\bls_files\\"

root_name = root_name + "allhlcn19"

quarter = ["1"]

for item in quarter:
    
    file_name = root_name + item + ".xlsx"
    
    df = df.append(clean_bls_quarter(file_name,empl_time_dict_19))

Then just checksome stuff, reshape, then save for the analysis part. Note how this is working (again clunky), if you want the goods employment, uncomment out that. If you want total employment do the other one.

In [28]:
df.tail()

                      emply_month
area_fips time
9009      2019-03-01      44134.0
9011      2019-03-01      21704.0
9013      2019-03-01       5038.0
9015      2019-03-01       7180.0
9999      2019-03-01       2338.0

In [29]:
df.sort_values(["area_fips", "time"], inplace = True)

In [30]:
trade_employ = trade_data.merge(df, left_index = True, right_index = True, how = "left")
# This is a place to be mindfull about time period, if we want

In [31]:
file_path = os.getcwd() + "\\data\\trade_employment_goods.parquet"

pq.write_table(pa.Table.from_pandas(trade_employ.reset_index()), file_path)

#file_path = os.getcwd() + "\\data\\trade_employment_all.parquet"

#pq.write_table(pa.Table.from_pandas(trade_employ.reset_index()), file_path)

In [32]:
trade_employ.corr()

,total_exp_pc,china_exp_pc,tariff,emplvl_2017,total_employment,emply_month
total_exp_pc,1.000000,0.716810,0.324453,0.046701,-0.026367,0.019269
china_exp_pc,0.716810,1.000000,0.202711,-0.003332,-0.049968,-0.028110
tariff,0.324453,0.202711,1.000000,-0.009244,-0.073015,-0.035414
emplvl_2017,0.046701,-0.003332,-0.009244,1.000000,0.896478,0.974721
total_employment,-0.026367,-0.049968,-0.073015,0.896478,1.000000,0.927028
emply_month,0.019269,-0.028110,-0.035414,0.974721,0.927028,1.000000

In [33]:
trade_employ.tail(25)

                      total_exp_pc  china_exp_pc    tariff  emplvl_2017  fips  \
area_fips time
9999      2017-07-01      4.802168      0.628942  0.002699         10.0  9999
          2017-08-01      5.307106      0.686786  0.002699         10.0  9999
          2017-09-01      5.306921      0.538919  0.002699         10.0  9999
          2017-10-01      5.028981      0.443781  0.002699         10.0  9999
          2017-11-01      5.188891      0.553497  0.002699         10.0  9999
          2017-12-01      5.309027      0.764443  0.002699         10.0  9999
          2018-01-01      4.262978      0.297118  0.002699         10.0  9999
          2018-02-01      4.735438      0.391857  0.002699         10.0  9999
          2018-03-01      6.089427      0.622622  0.002699         10.0  9999
          2018-04-01      4.992804      0.438271  0.002699         10.0  9999
          2018-05-01      5.942168      0.478111  0.002699         10.0  9999
          2018-06-01      5.642619      0.474635  0.002699         10.0  9999
          2018-07-01      4.467577      0.469662  0.003977         10.0  9999
          2018-08-01      5.165077      0.464946  0.003977         10.0  9999
          2018-09-01      5.384563      0.762306  0.003994         10.0  9999
          2018-10-01      5.383867      0.500684  0.004118         10.0  9999
          2018-11-01      5.392123      0.504916  0.004113         10.0  9999
          2018-12-01      5.125100      0.566114  0.004113         10.0  9999
          2019-01-01      4.482466      0.232642  0.001629         10.0  9999
          2019-02-01      5.087658      0.433599  0.001629         10.0  9999
          2019-03-01      5.916503      0.548185  0.001629         10.0  9999
          2019-04-01      4.860074      0.284597  0.001629         10.0  9999
          2019-05-01      5.457905      0.293973  0.001629         10.0  9999
          2019-06-01      5.367457      0.311772  0.001629         10.0  9999
          2019-07-01      4.904085      0.382894  0.001629         10.0  9999

                      total_employment  emply_month
area_fips time
9999      2017-07-01           37362.0       2953.0
          2017-08-01           37362.0       2968.0
          2017-09-01           37362.0       2837.0
          2017-10-01           37362.0       2839.0
          2017-11-01           37362.0       2826.0
          2017-12-01           37362.0       2792.0
          2018-01-01           37362.0       2394.0
          2018-02-01           37362.0       2325.0
          2018-03-01           37362.0       2440.0
          2018-04-01           37362.0       2514.0
          2018-05-01           37362.0       2576.0
          2018-06-01           37362.0       2634.0
          2018-07-01           37362.0       2600.0
          2018-08-01           37362.0       2672.0
          2018-09-01           37362.0       2781.0
          2018-10-01           37362.0       2848.0
          2018-11-01           37362.0       2847.0
          2018-12-01           37362.0       2802.0
          2019-01-01           37362.0       2290.0
          2019-02-01           37362.0       2321.0
          2019-03-01           37362.0       2338.0
          2019-04-01           37362.0          NaN
          2019-05-01           37362.0          NaN
          2019-06-01           37362.0          NaN
          2019-07-01           37362.0          NaN